<%= simple_form_for [@event,@bid], :url => event_bid_path(@event) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :user_choice %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

<% end %>
