%li
  = link_to 'About', page_path('about')

- if current_user && current_user.admin?
  %li
    = link_to 'Create events', new_event_path
  %li
    = link_to 'User Achievements', user_achievements_path

